{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "debug": false
      }
    ],
    "@babel/typescript",
    "@babel/react",
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "node": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [
              ".less",
              ".sass"
            ]
          }
        ]
      ]
    }
  }
}